<!doctype html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>球球趣玩</title>
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/header.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Mobilekit HTML Mobile UI Kit">
    <meta name="keywords" content="bootstrap, mobile template, cordova, phonegap, mobile, html, responsive"/>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/img/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" href="{% static 'assets/img/favicon.png' %}" sizes="32x32">
    <link rel="shortcut icon" href="{% static 'assets/img/favicon.png' %}">
</head>

<body>
<section class="aui-flexView">

    <section class="aui-scrollView">
        <div class="aui-chang-box"></div>
        <div class="aui-chang-list">
            <div class="aui-user-img">
                <img src="{% static 'assets/img/user.png' %}" alt="">
            </div>
            <div class="aui-user-text">
                <h1>{{ name }}</h1>
                <span>今日游戏广告：{{ today_game_count }}条</span>
                <span>今日应用广告：{{ today_app_count }}条</span>
                {#                <button>点击提现</button>#}
            </div>
{#            <div class="aui-jf">积分0</div>#}
        </div>
        <div class="divHeight"></div>
        <div class="divHeight b-line " style="height: 88px;"></div>
        <div class="wide-block pt-2 pb-2">
            <ul class="nav nav-tabs style1" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#home" role="tab">
                        今日
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#profile" role="tab">
                        本月
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#contact" role="tab">
                        历史
                    </a>
                </li>
            </ul>
            <div class="tab-content mt-2">
                <div class="tab-pane fade show active" id="home" role="tabpanel">
                    <div class="section full mt-1 mb-2">
                        <div class="content-header mb-05">
                            今日收录游戏广告数为： <code>{{ today_game_count }}</code>条，应用条数<code>{{ today_app_count }}</code>条
                        </div>
                        <div class="wide-block p-0" style="height:320px;overflow:hidden">

                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">类型</th>
                                        <th scope="col">名字</th>
                                        <th scope="col">文案</th>
                                        <th scope="col">日期</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for item in today_data %}
                                        <tr>
                                            <th scope="row">{{ forloop.counter }}</th>
                                            <td>{% if item.3 == 1 %}游戏{% else %}应用{% endif %}</td>
                                            <td>{{ item.1 }}</td>
                                            <td>{{ item.2 }}</td>
                                            <td>{{ item.4 }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel">
                    <div class="section full mb-2">
                        <div class="content-header mb-05">
                            本月收录游戏广告数为： <code>{{ month_game_count }}</code>条，应用条数<code>{{ month_app_count }}</code>条
                        </div>
                        <div class="wide-block p-0" style="max-height:100%;overflow:hidden">

                            <div class="table-responsive" >
                                <table class="table table-dark">
                                    <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">类型</th>
                                        <th scope="col">名字</th>
                                        <th scope="col">文案</th>
                                        <th scope="col">日期</th>
                                    </tr>
                                    </thead>
                                    <tbody id="tbm">
                                    {% for item in month_page %}
                                        <tr>
                                            <th scope="row">{{ forloop.counter }}</th>
                                            <td>{% if item.3 == 1 %}游戏{% else %}应用{% endif %}</td>
                                            <td>{{ item.1 }}</td>
                                            <td>{{ item.2 }}</td>
                                            <td>{{ item.4 }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div>
                                <button type="button" class="btn btn-outline-dark  btn-block" id="month_per">加载更多
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="contact" role="tabpanel">
                    <div class="section full mb-2">
                        <div class="content-header mb-05">
                            历史收录游戏广告数为： <code>{{ history_game_count }}</code>条，应用条数<code>{{ history_app_count }}</code>条
                        </div>
                        <div class="wide-block p-0" style="max-height:100%;overflow:hidden">

                            <div class="table-responsive" >
                                <table class="table table-dark">
                                    <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">类型</th>
                                        <th scope="col">名字</th>
                                        <th scope="col">文案</th>
                                        <th scope="col">日期</th>
                                    </tr>
                                    </thead>
                                    <tbody id="tbd">
                                    {% for item in history_page %}
                                        <tr>
                                            <th scope="row">{{ forloop.counter }}</th>
                                            <td>{% if item.3 == 1 %}游戏{% else %}应用{% endif %}</td>
                                            <td>{{ item.1 }}</td>
                                            <td>{{ item.2 }}</td>
                                            <td>{{ item.4 }}</td>
                                        </tr>
                                    {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div>
                            <button type="button" class="btn btn-outline-dark btn-block" id="history_per">加载更多</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</section>
<!-- ///////////// Js Files ////////////////////  -->
<!-- Jquery -->
<script src="{% static 'assets/js/lib/jquery-3.4.1.min.js' %}"></script>
<!-- Bootstrap-->
<script src="{% static 'assets/js/lib/popper.min.js' %}"></script>
<script src="{% static 'assets/js/lib/bootstrap.min.js' %}"></script>
<!-- Owl Carousel -->
<script src="{% static 'assets/js/plugins/owl-carousel/owl.carousel.min.js' %}"></script>
<!-- Base Js File -->
<script src="{% static 'assets/js/base.js' %}"></script>
</body>

</html>


<script>
    let history_data = [];
    let month_data = [];
    history_data = {{ history_data|safe }};
    month_data = {{ month_data|safe }};
    let current_page = 0;
    let current_page_month = 0;
    let len = history_data.length;
    let len_month = month_data.length;

    if (len == 0) {
        $('#history_per').hide();
    }
    if (len_month == 0) {
        $('#month_per').hide();
    }

    $("#history_per").on("click", function () {
        if (len <= 8) {
            for (let i = 0; i < history_data.length; i++) {
                let per_data = history_data[i];
                per_tr = get_tr(9 + i, per_data[3], per_data[1], per_data[2], per_data[4]);
                $('#history_per').hide();
                $('#tbd').append(per_tr)
            }
        } else if (current_page + 8 < len) {
            for (let i = current_page; i < current_page + 8; i++) {
                let per_data = history_data[i];
                per_tr = get_tr(9 + i, per_data[3], per_data[1], per_data[2], per_data[4]);
                $('#tbd').append(per_tr)

            }
            current_page = current_page + 8;

        } else {
            for (let i = current_page; i < current_page + (len - current_page); i++) {
                let per_data = history_data[i];
                per_tr = get_tr(9 + i, per_data[3], per_data[1], per_data[2], per_data[4]);
                $('#tbd').append(per_tr)

            }
            $('#history_per').hide();
        }


    });

    $("#month_per").on("click", function () {
        if (len_month <= 8) {
            for (let i = 0; i < month_data.length; i++) {
                let per_data = month_data[i];
                per_tr = get_tr(9 + i, per_data[3], per_data[1], per_data[2], per_data[4]);
                $('#month_per').hide();
                $('#tbm').append(per_tr);

            }
        } else if (current_page_month + 8 < len_month) {
            for (let i = current_page_month; i < current_page_month + 8; i++) {
                let per_data = month_data[i];
                per_tr = get_tr(9 + i, per_data[3], per_data[1], per_data[2], per_data[4]);
                $('#tbm').append(per_tr)
            }
            current_page_month = current_page_month + 8;

        } else {
            for (let i = current_page_month; i < current_page_month + (len_month - current_page_month); i++) {
                let per_data = month_data[i];
                per_tr = get_tr(9 + i, per_data[3], per_data[1], per_data[2], per_data[4]);
                $('#tbm').append(per_tr)

            }
            $('#month_per').hide();
        }
    });

    let get_tr = function (id, ad_type, product, create, ts) {
        let a = '<tr><th scope="row">' + id + '</th>';
        let b = '<td>' + ad_type + '</td>';
        let c = '<td>' + product + '</td>';
        let d = '<td>' + create + '</td>';
        let e = '<td>' + ts + '</td></tr>';
        return a + b + c + d + e
    }


</script>