<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>球球趣玩</title>
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <meta content="telephone=no" name="format-detection"/>
    <link href="{% static 'assets/css/stylemoney.css' %}" rel="stylesheet" type="text/css"/>

</head>
<body>

<section class="aui-flexView">
    <section class="aui-scrollView">
        <div class="aui-money-head" style="background-image: url('{% static 'assets/img/head.png' %}')">

            <div class="aui-palace aui-palace-one">
                <a href="javascript:" class="aui-palace-grid">
                    <div class="aui-palace-grid-text">
                        <h1>{{ totalmoney }}</h1>
                        <p>总金额(元)</p>
                    </div>
                </a>
                <a href="javascript:" class="aui-palace-grid">
                    <div class="aui-palace-grid-text">
                        <h1 id="withdrawable">{{ withdrawable }}</h1>
                        <p>可提现金额(元)</p>
                    </div>
                </a>
                <a href="javascript:" class="aui-palace-grid">
                    <div class="aui-palace-grid-text">
                        <h1 id="alread">{{ alread }}</h1>
                        <p>已提现(元)</p>
                    </div>
                </a>
                <a href="javascript:" class="aui-palace-grid">
                    <div class="aui-palace-grid-text">
                        {% if status == 0 %}
                            <h1 class="user_code" style="color:darkred">审核中</h1>
                        {% else %}
                            <h1 class="user_code" style="color:green">正常</h1>
                        {% endif %}
                        <p>状态</p>
                    </div>
                </a>
            </div>

        </div>

        <div class="divHeight"></div>


        <div class="aui-flex aui-flex-title b-line">
            <div class="aui-flex-box">
                <h2><em>发起提现</em></h2>
            </div>
        </div>
        <div class="aui-palace aui-palace-three">
            <form method="post" action="#">
                <div class="input-group">
                    <label for="khname" style="padding-left:34px;">姓名</label>
                    <input type="text" id="name" name="user" placeholder="请输入真实姓名">
                </div>
                {#				<div class="input-group">#}
                {#					<label for="khname" style="padding-left:34px;">账号</label>#}
                {#					<input type="text" id="account" name="account" placeholder="请输入您的手机号码">#}
                {#				</div>#}
                <div class="input-group">
                    <label for="khname" style="padding-left:34px;">金额</label>
                    <input type="text" id="money" name="money" placeholder="金额不能小于10元"
                           onclick="clearDefaultText(this,'请输入整数金额')">
                </div>

                <div class="input-group">
                    <label for="khname" style="padding-left:34px;">备注</label>
                    <input type="text" id="remarks" name="remark" placeholder="(选填)">
                </div>
                <input type='hidden' name='openid' value='{{ openid }}'/>
                <div >
                    <p id="ktxje" style="left: 5px;color: dimgray">&nbsp;&nbsp;&nbsp;&nbsp;*当前可提现金额{{ withdrawable }}元：最低10元起提</p>
                    <p style="left: 5px;color: dimgray">&nbsp;&nbsp;&nbsp;&nbsp;*可申请提现时间：每月15,16日，每天可申请5次</p>
                    <p style="left: 5px;color: dimgray">&nbsp;&nbsp;&nbsp;&nbsp;*单次提现金额上限：100元</p>
                    <p style="left: 5px;color: dimgray">&nbsp;&nbsp;&nbsp;&nbsp;*提现成功后，将在3-5个工作日进行审核</p>
                    <p style="left: 5px;color: dimgray">&nbsp;&nbsp;&nbsp;&nbsp;*审核通过后直接到账微信零钱</p>
                </div>
                <div><br /></div>
                <button type="button" id="sublogin">确定</button>
                {% csrf_token %}
            </form>
        </div>
        <div class="divHeight"></div>
{#        <div>#}
{#            <p style="padding-left: 5px"><code>*</code>当前可提现金额x元：最低10元起提</p>#}
{#            <p style="padding-left: 5px"><code>*</code>可申请提现时间：每月15,16日，每天可申请5次</p>#}
{#            <p style="padding-left: 5px"><code>*</code>单次提现金额上限：100元</p>#}
{#            <p style="padding-left: 5px"><code>*</code>提现成功后，将在3-5个工作日进行审核</p>#}
{#            <p style="padding-left: 5px"><code>*</code>审核通过后直接到账微信零钱</p>#}
{#        </div>#}
{#        <div class="divHeight"></div>#}
        <div class="aui-flex b-line">
            <div class="aui-flex-box">
                <h2>待审核</h2>
            </div>
        </div>
        <div class="aui-flex b-line">
            <div class="aui-back-top">
                <h2>#</h2>
            </div>
            <div class="aui-flex-box">
                <h4>用户</h4>
            </div>
            <div class="aui-flex-box">
                <h4>金额</h4>
            </div>
            <div class="aui-flex-box">
                <h4>时间</h4>
            </div>
            <div class="aui-bonus">状态</div>
        </div>
        <ul class="aui-money-ul" id="tx_jl">
            {% for order in order_result %}
                <li class="aui-flex">
                    <span class="aui-flex-change">{{ forloop.counter }}</span>
                    <span class="aui-flex-box">{{ order.0 }}</span>
                    <span class="aui-flex-box">{{ order.1 }}</span>
                    <span class="aui-flex-box">{{ order.3 }}</span>

                    {% if order.2 == '0' %}
                        <span class="aui-flex-Price" style="color:red">审核中</span>
                    {% elif order.2 == '3'%}
                        <span class="aui-flex-box" style="color:red">失败({{ order.4 }})</span>
                    {% endif %}
                </li>
            {% endfor %}


        </ul>

    </section>
</section>
</body>

<script type="text/javascript" src="{% static 'assets/js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/slider.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/layer.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/money.js' %}"></script>
<script type="text/javascript">
    function b() {
        t = parseInt(x.css('top'));
        y.css('top', '20px');
        x.animate({
            top: t - 20 + 'px'
        }, 'slow');
        if (Math.abs(t) == h - 20) {
            y.animate({
                top: '0px'
            }, 'slow');
            z = x;
            x = y;
            y = z;
        }
        setTimeout(b, 3000);
    }

    $(document).ready(function () {
        $('.swap').html($('.news_li').html());
        x = $('.news_li');
        y = $('.swap');
        h = $('.news_li li').length * 20;
        setTimeout(b, 3000);
    })
</script>
<script>
    function clearDefaultText(el, message) {
        let obj = el;
        obj.onblur = function () {
            if (obj.value < 10) {
                obj.value = "";
                obj.setAttribute("placeholder", "金额不能小于10元");
            } else if (!(/(^[1-9]\d*$)/.test(obj.value))) {
                obj.value = "";
                obj.setAttribute("placeholder", "请输入整数金额");
            }
        }
    }

</script>
{#<script>#}
{#    let user_status = "{{ status }}";#}
{#    if (user_status == '0') {#}
{#        $('#sublogin').attr('disabled', "true");#}
{#        $('#sublogin').css({'background-color': 'gray'});#}
{#    }#}
{##}
{##}
{##}
{#</script>#}

<script>

    $("#sublogin").on("click", function () {
        let tx_je = parseFloat($('#money').val());
        let withdrawable = parseFloat({{ withdrawable }});
        if (!tx_je) {
            alert("金额不能小于10元或为空");

        } else if (tx_je > withdrawable) {
            let result = tx_je - withdrawable;
            result = result.toFixed(2);
            alert("您的可提现金额只有" + withdrawable + "元，距离您的小目标还差" + result + "元");
        } else {
            if (confirm("你确定现在就要提现" + tx_je + "元，不再多攒点？再次提现需本次审核通过才能发起")) {
                username = $("[name='user']").val();
                money = $("[name='money']").val();
                remark = $("[name='remark']").val();
                openid = $("[name='openid']").val();
                $.ajax({
                    url: "{% url 'launch' %}",
                    data: {
                        "user": username,
                        "money": money,
                        "remark": remark,
                        "openid": openid,
                        'csrfmiddlewaretoken': $('[name="csrfmiddlewaretoken"]').val()
                    },
                    cache: "false",
                    async: "true",
                    dataType: "json",
                    type: "post",
                    success: function (data) {
                        //data是json类型
                        alert(data["msg"]);
                        if (data["code"] == "1") {
                            $('#withdrawable').html(data["withdrawable"]);
                            $('#ktxje').html("&nbsp;&nbsp;&nbsp;&nbsp;*当前可提现金额"+data["withdrawable"]+"元：最低10元起提");
                            $('#alread').html(data["alread"]);
                            $('.user_code').html("审核中");
                            $('#tx_jl').append(get_li(username,money))
                        }
                    },
                    error: function () {
                        alert("服务器端异常!请稍后再试");
                    },
                });
            }
        }
    });

    let get_li=function (user,money) {
        let dt = new Date();
        let str = dt.getFullYear()+"-"+(dt.getMonth()+1)+"-"+dt.getDate();
        let a = '<li class="aui-flex">';
        let b= '<span class="aui-flex-change">1</span>';
        let c = '<span class="aui-flex-box">'+user+'</span>';
        let d = '<span class="aui-flex-box">'+money+'</span>';
        let e = '<span class="aui-flex-box">'+str+'</span>';
        let f = '<span class="aui-flex-Price" style="color:red">审核中</span></li>';
        return a+b+c+d+e+f
    }
</script>
</html>
