<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的徒弟</title>
</head>
<body>
<div>
    <h1> 我的徒弟</h1>
    <table>
        <tr>
            <td>
                建立师徒关系日期
            </td>
            <td>徒弟昵称</td>
            <td>游戏有效条数</td>
            <td>应用有效条数</td>
        </tr>
        <tr>
            <td>
                2020-04-21 10:03:34
            </td>
            <td>reyunloveyou</td>
            <td>37</td>
            <td>24</td>
        </tr>

    </table>
</div>
<div>
    <h1>徒弟成功提现记录</h1>
    <table>
        <tr>
            <td>徒弟昵称</td>
            <td>提现日期</td>
            <td>提现金额</td>
        </tr>
        <tr>
            <td>reyunloveyou</td>
            <td>2020-04-15 10:39:45</td>
            <td>30元</td>
        </tr>
    </table>
</div>
</body>
</html>