<!doctype html>
<html lang="en">
{% load static %}
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>MobileKit UI</title>
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Mobilekit HTML Mobile UI Kit">
    <meta name="keywords" content="bootstrap, mobile template, cordova, phonegap, mobile, html, responsive" />
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/img/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" href="{% static 'assets/img/favicon.png' %}" sizes="32x32">
    <link rel="shortcut icon" href="{% static 'assets/img/favicon.png' %}">
    <link type="text/css" rel="styleSheet"  href="{% static 'assets/css/ionicons.css' %}" />
</head>

<body>

        <!-- loader -->
    <div id="loader">
        <div class="spinner-grow text-secondary" role="status"></div>
    </div>
    <!-- * loader -->

    <!-- App Header -->
    <!-- * App Header -->

    <!-- App Capsule -->
    <div id="appCapsule">
    	<div class="section full mt-2 mb-3">
            <div class="carousel-full owl-carousel owl-theme">
                <div class="item">
                    <img src="{% static 'assets/img/tur.png' %}" alt="alt" class="imaged w-100 square">
                </div>
                
            </div>
            
        </div>
        <div class="section full mt-2">	
            <div class="section-title">
	            <i class="icon icon ion-ios-copy"></i>
	            第一步： <i style="color:#FF891F;">复制业务码</i>
            </div>
            <div class="wide-block pt-2 pb-2">

                <div class="alert alert-success mb-1" style="padding-top: 12px;padding-bottom: 12px" role="alert">
                    A simple success alert—check it out!
                </div>

            </div>
        </div>

        <div class="section full mt-2">
            <div class="section-title">
				<i class="icon  ion-ios-personadd"></i>
				第二步：
				<i style="color:#FF891F;">添加客服</i>
            </div>
            <div class="mb-1">
            	<img src="{% static 'assets/img/sample/photo/kf.jpg' %}" style="margin-left: 140px;" alt="image" class="imaged w140">
            </div>
            
        </div>

        <div class="section full mt-2">
            <div class="section-title">
            <i class = "icon  ion-chatbubble-working"></i>
            第三步：<i style="color:#FF891F;">将业务码发给客服</i></div>
            <div class="mb-1">
            	<img src="{% static 'assets/img/sample/photo/kf.jpg' %}" style="margin-left: 140px;" alt="image" class="imaged w140">
            </div>
        </div>

       <div class="section full mt-2">
            <div class="section-title">
            <i class = "icon ion-android-share"></i>
            第四步：<i style="color:#FF891F;">分享广告</i></div>
            <div class="mb-1">
            	<img src="{% static 'assets/img/sample/photo/kf.jpg' %}" style="margin-left: 140px;" alt="image" class="imaged w140">
            </div>
        </div>
		<div class="section full mt-2">
		            <div class="section-title">
		            <i class = "icon ion-calculator"></i>
		            第五步：<i style="color:#FF891F;">查看收益</i></div>
		            <div class="mb-1">
		            	<img src="{% static 'assets/img/sample/photo/kf.jpg' %}" style="margin-left: 140px;" alt="image" class="imaged w140">
		            </div>
		        </div>

    </div>


    <!-- Jquery -->
    <script src="{% static 'assets/js/lib/jquery-3.4.1.min.js' %}"></script>
    <!-- Bootstrap-->
    <script src="{% static 'assets/js/lib/popper.min.js' %}"></script>
    <script src="{% static 'assets/js/lib/bootstrap.min.js' %}"></script>
    <!-- Owl Carousel -->
    <script src="{% static 'assets/js/plugins/owl-carousel/owl.carousel.min.js' %}"></script>
    <!-- Base Js File -->
    <script src="{% static 'assets/js/base.js' %}"></script>


</body>

</html>
