<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Web App">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes, minimum-scale=1, maximum-scale=1">
    <title>Document</title>
    <style>
        html,body{
            margin:0;
            padding:0;
            width:100%;
            height:100%;
        }
        .videoContainer{
            width:100%;
            height:200px;
            position:absolute;
            left:0;
            top:0;
        }
    </style>
</head>
<body>
    <div class="container">
        <div style="width:100%;height:200px">
            <div class="videoContainer" id="videoContainer" >
                <div>
                        <video src="http://wxapi.adinsights.cn/media/video/322.mp4" controls width='100%' height='100%' autoplay id="video" x5-playsinline="" playsinline="" webkit-playsinline="" ></video>
                </div>
                <span id="close" style="display:none;position:absolute;right:0;top:0;font-size:30px;color:black;z-index:9999999999;width:100%;height:100%"></span>
            </div>
         </div>


    </div>
</body>
</html>